<%- include('partials/head', {title: 'Form Buy'}) %>
<%- include('partials/navbar') %>
<body>
    <h1 class='text-center' style="font-family: 'Monospace'; font-size: 75px; color: blue;">Welcome to Hangout!</h1>
    <h3 class='text-center' style="font-family: 'Monospace'; font-size: 25px;" ><i>Let's Have Fun!!! </i></h3>
</body>
</html>